@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

body {
    font-family: 'Ribeye', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#bg {
  position: absolute; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
  z-index: -1;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/*-----  -----*/

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

main {
    flex: 1 0 auto;
}

/*-----  Confirmation Modal for Delete button -----*/

.modal {
    color: black;
}

/*----- Footer -----*/

.page-footer i:hover {
  color: rgb(0, 5, 100);
}

.page-footer {
  min-height: 45px;
  bottom: 0;
}

.footer-content {
  display: flex;
}

.copyright {
  padding-top: 10px;
}

.social-icon {
  margin: 10px;
  color: white;
  font-size: 1.7rem;
}
@media only screen and (max-width:320px){
  .social-icon {
  margin: 8px;
  color: white;
  font-size: 1.5rem;
}
}

/*-----   -----*/