@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

body {
    font-family: 'Ribeye', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#bg {
    position: absolute;
    width: 100%;
    background-image: repeat;
    opacity: 30%;
    z-index: -1;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/*-----  -----*/

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

main {
    flex: 1 0 auto;
}

/*-----  Confirmation Modal for Delete button -----*/

.modal {
    color: black;
}

/*----- Footer -----*/

.page-footer i:hover {
    color: rgb(0, 5, 100);
}

#page-footer {
    position: relative;
    bottom: 0;
    height: 5rem;
}

.footer-content {
    display: flex;
}

.copyright {
    padding-top: 20px;
    margin: 5px;
    color: white;
}

.social-icon {
    padding-top: 20px;
    margin: 5px;
    color: white;
    font-size: 1.7rem;
}
@media only screen and (max-width:320px){
.social-icon {
    margin: 8px;
    color: white;
    font-size: 1.5rem;
}
}

/*-----   -----*/