@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

/*----- Main body with Ribeye font imported -----*/

body {
    font-family: 'Ribeye', cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*----- Backgound image -----*/

body {
    background-image: url("/static/images/food-white-background.jpg");
    background-size: cover;
    }

/*----- Adding text shadow to headers -----*/

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/*----- Flashed messages -----*/

.flashes h4 {
    line-height: 2;
}

/*----- Collapsible for displaying recipes -----*/

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

main {
    flex: 1 0 auto;
}

#recipe-display {
    background-color: white;
}

/*-----  Confirmation Modal for Delete button -----*/

.modal {
    color: black;
}

/*----- Footer -----*/

.page-footer i:hover {
    color: rgb(0, 5, 100);
}

#page-footer {
    position: relative;
    bottom: 0;
    height: 5rem;
}

.footer-content {
    display: flex;
}

.copyright {
    padding-top: 20px;
    margin: 5px;
    color: white;
}

.social-icon {
    padding-top: 20px;
    margin: 5px;
    color: white;
    font-size: 1.7rem;
}
@media only screen and (max-width:320px){
.social-icon {
    margin: 8px;
    color: white;
    font-size: 1.5rem;
}
}

/*-----   -----*/