<!DOCTYPE html>
{% extends 'base.html' %} 
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-utensils prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_title" name="recipe_title" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_title">New Recipe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-europe prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_cuisine" name="recipe_cuisine" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_cuisine">Cuisine</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
