<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

<div class="row card-panel grey lighten-5">
	<form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
    <!-- choose category -->
        <div class="row">
		    <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
			    <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose your category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
		</div>
        <!-- add title new recipe -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-utensils prefix light-blue-text text-darken-4"></i>
				<input id="recipe_title" name="recipe_title" minlength="5" maxlength="50"
                        type="text" class="validate" required>
				<label for="recipe_title">New Recipe</label>
			</div>
		</div>
        <!-- add description -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
				<input id="recipe_description" name="recipe_description" minlength="5" maxlength="200"
                        type="text" class="validate" required>
				<label for="recipe_description">Description</label>
			</div>
		</div>
        <!-- add method -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-list-ol prefix light-blue-text text-darken-4"></i>
				<input id="recipe_method" name="recipe_method" minlength="5" maxlength="200"
                        type="text" class="validate" required>
				<label for="recipe_method">Method</label>
			</div>
		</div>
        <!-- add ingredients -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-pepper-hot prefix light-blue-text text-darken-4"></i>
				<input id="recipe_ingredients" name="recipe_ingredients" minlength="5" maxlength="200"
                        type="text" class="validate" required>
				<label for="recipe_ingredients">Ingredients</label>
			</div>
		</div>
        <!-- add serves -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-sort-numeric-down prefix light-blue-text text-darken-4"></i>
				<input id="recipe_serves" name="recipe_serves" minlength="5" maxlength="50"
                        type="text" class="validate" required>
				<label for="recipe_serves">Serves</label>
			</div>
		</div>
        <!-- add cooking time -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-hourglass-start prefix light-blue-text text-darken-4"></i>
				<input id="recipe_cookingtime" name="recipe_cookingtime" minlength="5" maxlength="50"
                        type="text" class="validate" required>
				<label for="recipe_cookingtime">Cooking Time</label>
			</div>
		</div>
        <!-- add prep time -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-hourglass-end prefix light-blue-text text-darken-4"></i>
				<input id="recipe_preptime" name="recipe_preptime" minlength="5" maxlength="50"
                        type="text" class="validate" required>
				<label for="recipe_preptime">Prep Time</label>
			</div>
		</div>
        <!-- add cuisine -->
		<div class="row">
			<div class="input-field col s12">
				<i class="fas fa-globe-europe prefix light-blue-text text-darken-4"></i>
				<input id="recipe_cuisine" name="recipe_cuisine" minlength="5" maxlength="50"
                        type="text" class="validate" required>
				<label for="recipe_cuisine">Cuisine</label>
			</div>
		</div>
        <!-- add recipe button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
	</form>
</div>

{% endblock %}