<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for recipe in recipes %}
        {{recipe.recipe_title}}
        {{recipe.recipe_description}}
        {{recipe.recipe_method}}
        {{recipe.recipe_ingredients}}
        {{recipe.recipe_serves}}
        {{recipe.recipe_cookingtime}}
        {{recipe.recipe_preptime}}
    {% endfor %}    
</body>
</html>